@media screen and (max-width: 768px) {
  @import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", sans-serif;
  }

  .mob-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 23px;
    background-color: #f4efef;
  }

  .header-below {
    background-color: #f4efef;
  }
  
  .first-text {
    width: 100vw;
    text-align: center;
  }

  .page-intro {
    text-align: center;
    line-height: 35px;
  }

  .second-text {
    width: 80vw;
  }

  .logo-text {
    width: 80%;
  }

  .summit-text {
    text-align: center;
  }

  .summit-pics-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
  }

  .partner-page {
    height: auto;
  }

  .partner-content {
    align-items: center;
    padding: 1% 2% 2%;
    display: flex;
  }

  .partner-list {
    width: 100%;
    padding-left: 5%;
  }

  .partner-pic {
    width: 60%;
  }

  .partner-list-item {
    list-style-type: none;
    flex-wrap: wrap;
    width: 150px;
  }

  .footer-page {
    padding: 0 2rem;
    background-color: #fff;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }

  .footer-list-type {
    list-style-type: none;
  }

  .footer-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #272a31;
  }

  .mobile,
  .partner-page,
  .footer-page {
    display: block;
  }

  .desktop,
  .header-below-list {
    display: none;
  }
}
